[Unit]
Description=USB Gadget (HID + Mass Storage)
After=systemd-modules-load.service
After=ramdisk-setup.service  
Requires=ramdisk-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/usb-gadget.sh

[Install]
WantedBy=sysinit.target
